<%= form_for([@task.project, @task]) do |f| %>
  <%= error_messages_for @task %>
  <div class="field">
    <%= f.text_field :content, placeholder: "New task" %>
    <%= f.submit %>
  </div>
<% end %>
