<%= form_for([@task.project, @task], remote: true, authenticity_token: true) do |f| %>
  <%= error_messages_for @task %>
  <div class="field">
    <%= f.text_field :content, placeholder: "New task" %>
    <%= f.submit %>
  </div>
<% end %>
