<li class="task-index__task <%= "completed" if task.completed %>">
  <span class="task-index__task__content"><%= task.content %></span>
  <%= mark_as_complete_link(task: task, completed: task.completed) %>
  <%= link_to "Delete", project_task_path(task.project, task.id), method: :delete %>
</li>
