<li>
  <%= link_to project.name, project %>
  <% if local_assigns[:show_buttons] %>
    <%= link_to "Edit", edit_project_path(project) %>
    <%= link_to "Destroy", project, method: :delete %>
  <% end %>
</li>
