// =====================================================================================
// === * MODULES * ======================================================================
// =====================================================================================



.main-nav {
  font-size: 14px;
  line-height: 60px;
  float: right;
}

.project-index {
  padding-left: 0;
  list-style: none;
  & li {
    margin-left: -$default-padding;
    margin-right: -$default-padding;
    background: white;
    border-top: 1px solid #ddd;
    &:last-child {
      border-bottom: 1px solid #ddd;
    }
    & a {
      display: block;
      text-decoration: none;
      padding: 10px $default-padding;
    }
  }
}


.task-index {
  padding-left: 0;
  list-style: none;
  &__task{
    form.button_to {
      display: inline-block;
    }
    &.completed > &__content {
      text-decoration: line-through;
    }
  }
}

.flash-container {
  float: right;
  font-size: 1.4rem;
  min-width: 280px;
}

.flash {
  padding: 1rem $default-padding;
  &:not(:first-child) {
    border-top: 1px solid rgba(0,0,0,.08);
  }
  &.success,
  &.notice,
  &.alert, {
    background: yellow;
  }
  &.error {
    background: tomato;
  }
  button {
    float: right;
    background: transparent;
    border: none;
    margin-left: 15px;
    color: #333;
    font-size: 21px;
    margin-top: -9px;
    padding: 8px;
    margin-right: -7px;
    cursor: pointer;
    &:focus {
        outline: none;
    }
  }
}

.error-explanation {
  border: 1px solid #eee;
  background: #f8f8f8;
  padding: 0 1rem;
  margin-bottom: 2em;
}

.field_with_errors {
  display: inline;
}
