<div class="header__inner">
  <a href="<%= root_path %>" class="site-title">UberList</a>
  <nav class="main-nav">
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% end %>
  </nav>
</div>
